*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ===============main tag============== */

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* =============main tag================ */

/* ===================================== */

/* =======first section start=========== */

.first_section{
    
    width: 80%;
    height: 70vh;
    margin-bottom:100px ;
    display: flex;
   
}
.first_section_box{
    width: 50%;
    height: 100%;
    padding-top: 150px;
    
    
}
.firstsection_header{
    font-family: 'Lobster','sans-serif';
    font-size: 28px;
    padding-left: 15px;
    letter-spacing: 2px;
    position: relative;
    /* border-image: linear-gradient(
    180deg, lightsalmon, tomato,blue); */
  
}
.bordar_left{
   background-image:  linear-gradient(
    180deg, lightsalmon, tomato,blue) ;
    width: 5px;
    height: 103px;
    position: absolute;
    top: 13px;
    left: 0px;
   
}
.orange_heading{
    color:orange;
}

.paragraph{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgba(0, 0, 0, 0.801);

}

.button{
    text-decoration: none;
    padding: 10px 30px;
    background-color:#575fcf;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 18px;
    border-radius: 5px;
}
/* ===image part==== */
.first_section_image{
    width: 50%;
    height: 100%;
    padding-left: 100px;
}
#small{
    font-size: 16px;
}
.first_section_image img{
  width: 100%;
  height: 100%;
}
 
/* =========firstsection end======= */

/* ================================= */

/* ========second section start===== */

.second_section{
    width: 80%;
    height: 70vh;
    margin-bottom:100px ;
}


.theading{
    width: 100%;
    height: 30%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}
    

.card_container{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-between;
}

.box{
    padding: 10px;
    padding-top: 30px;
    width: 30%;

    height: 100%;
    border-radius: 15px;
}

/* color changing 3 box by id */
#gray{
    background-color: #7f8fa6;
}
#seabrook{
    background-color: #487eb0;
}
#livid{
    background-color: #b8e994;
}
.card_container img{
    width: 40%;
}

.card_container h3{
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}
.card_container p{
    font-size: 16px;
    padding: 10px;
}


/* ==========second section end========= */

/* ===================================== */

/* ========third section start=========== */

.third{
    background: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: 40px 70px;
    background-size: 15%;
}
.section{
    width: 80%;
    height: 52.5vh;
    margin-bottom:100px ;
    display: flex;
   
   
}

.imagebox{
    width: 35%;
}
.imagebox img{
    width: 100%;
}

.contentbox{
    width: 65%;
    padding: 60px;
}
.contentbox h2{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
}

/* ==========third section end=========== */

/* ====================================== */

/* ========fourth section start=========== */
  
.four{
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-size: 14%;
    background-position: 1180px bottom;
}

/* =============four section end=========== */

/* ======================================== */

/* ===========five section start============= */

.five{
    height: 80vh;
    
}

#secfive{
    height: 70%;
}
#five_content{
    height: 100%;
    padding: 20px 0px 25px 30px;
}
#proimage{
    border-radius: 15px;
}
#fivesec_pera{
    padding: 20px 20px 20px 0px;
}

/* ==============five section end============= */

/* =========================================== */

/* ============footer start=================== */

footer{
    width: 100%;
    height: 22vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer h1{
    font-size: 40px;
    color: white;
    font-family: 'Oswald', sans-serif;
    
}

.redclr{
    color: red;
}
#footer_p{
    color: rgba(255, 255, 255, 0.644);
    font-size: 13.5px;
    font-weight: 100;
}

