*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ===============main tag============== */

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* =============main tag================ */

/* ===================================== */

/* =======first section start=========== */

.first_section{
    
    width: 80%;
    height: 70vh;
    margin-bottom:100px ;
    display: flex;
   
}
.first_section_box{
    width: 50%;
    height: 100%;
    padding-top: 150px;
    
    
}
.firstsection_header{
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    padding-left: 15px;
    letter-spacing: 8px;
    border-left: 4px solid;
    border-image: linear-gradient(
    180deg, lightsalmon, tomato,blue);
    border-image-slice: 1;
}

.orange_heading{
    color:orange;
}

.paragraph{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgba(0, 0, 0, 0.801);

}

.button{
    text-decoration: none;
    padding: 10px 30px;
    background-color: #eb4d4b;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 18px;
    border-radius: 5px;
}
/* ===image part==== */
.first_section_image{
    width: 50%;
    height: 100%;
    padding-left: 100px;
}
#small{
    font-size: 16px;
}
.first_section_image img{
  width: 100%;
  height: 100%;
}
 
/* =========firstsection end======= */

/* ================================= */

/* ========second section start===== */

.second_section{
    width: 80%;
    height: 70vh;
    margin-bottom:100px ;
}

.second_section h1{
    width: 100%;
    height: 30%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: bold;
   
}
.card_container{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-between;
}

.box{
    padding: 10px;
    padding-top: 30px;
    width: 30%;

    height: 100%;
    border-radius: 15px;
}

/* color changing 3 box by id */
#gray{
    background-color: #7f8fa6;
}
#seabrook{
    background-color: #487eb0;
}
#livid{
    background-color: #b8e994;
}
.card_container img{
    width: 40%;
}

.card_container h3{
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}
.card_container p{
    font-size: 16px;
    padding: 10px;
}


/* ==========second section end========= */

/* ===================================== */

/* ========third section start=========== */

.third{
    background: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: 40px 70px;
    background-size: 15%;
}
.section{
    width: 80%;
    height: 52.5vh;
    margin-bottom:100px ;
    display: flex;
   
   
}

.imagebox{
    width: 35%;
}
.imagebox img{
    width: 100%;
}

.contentbox{
    width: 65%;
    padding: 60px;
}
.contentbox h2{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
}

/* ==========third section end=========== */

/* ====================================== */

/* ========fourth section start=========== */
  
.four{
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-size: 14%;
    background-position: 1180px bottom;
}

#padding_short{
    padding-left: 0px;
}

